<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/navbar'); %>
	
	<!-- Login-Form -->
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2>Formulario de Login</h2>
	
				<form method="POST" action="/user/login">
					<div class="row">
						<div class="col-md-6 my-2">
							<div class="form-group">
								<label><b>Correo electrónico:</b></label>
								<input type="text" name="email" class="form-control">
								<!--si locals tiene algun error y si ese error esta en el email que me imprima el mensaje que tengo en mi objeto error con la clase text danger que me deja con colorcito rojo el mensaje,error es el objeto que Tengo en mi controlador de processlogin-->
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-2">
							<div class="form-group">
								<label><b>Password:</b></label>
								<input type="password" name="password" class="form-control">
								<% if(locals.errors && errors.password) { %>
									<!-- Imprimimos dentro de un div el mensaje que tenemosen nuesto objeto error atributo password-->
									<div class="text-danger">
										<%= errors.password.msg %>
									</div> 
									<% } %>  
								<div class="invalid-feedback">
								</div>
							</div>
						</div>
						<div class="col-md-6 my-2">
							<div class="form-group form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
								</label>
							</div>
						</div>
						<div class="col-12 my-3">
							<button type="submit" class="btn btn-primary">Loguearme</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- //Login-Form -->
	
	<%- include('partials/footer'); %>
</body>
</html>